services:
  postgres:
    image: postgres:latest
    container_name: quicknote
    hostname: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=db
    ports:
      - "7373:5432"   # Host 7373 -> Contenedor 5432
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
